default: &default
  medispo:
    api_key: API_KEY
    api_secret: API_SECRET
    options:
      scope: profile
      client_options:
        site: https://preprod.medispo.fr
        authorize_url: https://preprod.medispo.fr/oauth/authorize
        token_url: https://preprod.medispo.fr/oauth/token
        ssl:
          ca_file: /var/www/medigit-pharma.fr/ca.pem

development:
  <<: *default

test:
  <<: *default

production:
  medispo:
    api_key: API_KEY
    api_secret: API_SECRET
    options:
      scope: profile
