- content_for(:title) { t(".title") }

%table.table.table-striped
  %thead
    %tr
      %th Serial
      - if can? :edit, Certificate
        %th.col-lg-1
      - if can? :destroy, Certificate
        %th.col-lg-1
  %tbody
    - @certificates.each do |certificate|
      %tr
        %td= link_to certificate.serial, [@certificate_authority, certificate]
        - if can? :edit, certificate
          %td= link_to t('.edit'), edit_certificate_authority_certificate_path(@certificate_authority, certificate)
        - if can? :destroy, certificate
          %td= link_to t('.destroy'), [@certificate_authority, certificate], :method => :delete, :data => { :confirm => t('.confirm') }, class: "btn btn-danger btn-xs"

= link_to t('.new'), new_certificate_authority_certificate_path(@certificate_authority), class: "btn btn-default"
