- content_for(:title) { t(".title") }

%table.table.table-striped
  %thead
    %tr
      %th= Certificate.human_attribute_name :subject
      - if can? :destroy, Certificate
        %th.col-lg-1
  %tbody
    - @certificates.each do |certificate|
      - certificate = certificate.becomes(Certificate)
      %tr
        %td= link_to certificate.subject, [@certificate_authority, certificate]
        - if can? :destroy, certificate
          %td= link_to t('.destroy'), [@certificate_authority, certificate], :method => :delete, :data => { :confirm => t('.confirm') }, class: "btn btn-danger btn-xs"

= link_to t('.new'), new_certificate_authority_certificate_path(@certificate_authority), class: "btn btn-default"
