- content_for(:title) { t(".title", serial: @certificate.serial) }

%p
  %b Serial:
  = @certificate.serial

- if can? :edit, @certificate
  = link_to 'Edit', edit_certificate_authority_certificate_path(@certificate_authority, @certificate)
