- content_for(:title) { t(".title", serial: @certificate.serial) }

%p
  %b Subject:
  %br
  %code= @certificate.subject
%p
  %b Serial:
  %br
  %code= @certificate.serial
%p
  %b Certificate
  %pre= @certificate.certificate
