- content_for(:title) { abbr_subject(@certificate.subject) }

%p
  %b Subject:
  %br
  %code= @certificate.subject
%p
  %b Issuer:
  %br
  %code= @certificate.issuer.subject
%p
  %b Serial:
  %br
  %code= @certificate.serial
%p
  %b Certificate
  %pre= @certificate.certificate
