- content_for(:title) { t(".title") }

- if !can?(:manage, :all) && current_user.authorities.empty?
  .panel.panel-danger
    .panel-heading
      .panel-title No authority available
    .panel-body
      Please contact us if you thing that something should be visible.

%table.table.table-striped
  %thead
    %tr
      %th Name
      - if can? :write, Authority
        %th Committed
      %th.col-lg-1
      %th.col-lg-1

  %tbody
    - @authorities.each do |authority|
      %tr
        %td= link_to authority.name, authority
        - if can? :write, authority
          %td
            - if authority.committed?
              %i{class: "fa fa-check-square-o"}
            - else
              %i{class: "fa fa-square-o"}
        %td= link_to t('.edit'), edit_authority_path(authority) if can?(:edit, authority)
        %td= link_to t('.destroy'), authority, method: :delete, data: { confirm: t('.confirm') }, class: "btn btn-danger btn-xs" if can?(:destroy, authority)

= link_to t('.new'), new_authority_path, class: "btn btn-default" if can?(:create, Authority)
