/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.page-title {
  margin: -20px 0 20px;
  background-color: #fafafa;
  border-bottom: 1px solid #e5e5e5;
}

.page-title h1 {
  margin: 15px 0;
}

.page-title .breadcrumb {
  background-color: inherit;
  padding: 0;
}
@media (max-width: 750px) {
  .page-title .breadcrumb {
    clear: both;
  }
}
@media (min-width: 750px) {
  .page-title .breadcrumb {
    top: 25px;
    position: relative;
    float: right;
  }
}
.page-title .breadcrumb > li + li:before {
  color: #333;
  content: "» ";
  padding: 0 2px;
}

textarea {
  font-family: monospace !important;
}

label.required abbr {
  color: red;
}
